<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @pelanggan.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @pelanggan.alamat %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
  <%= @pelanggan.jenis_kelamin %>
</p>

<p>
  <strong>No telp:</strong>
  <%= @pelanggan.no_telp %>
</p>

<%= link_to 'Edit', edit_pelanggan_path(@pelanggan) %> |
<%= link_to 'Back', pelanggans_path %>
